astroid==2.4.2
colorama==0.4.3
isort==5.5.1
lazy-object-proxy==1.5.1
mccabe==0.6.1
Pillow~=7.2.0
pylint==2.6.0
pypiwin32==223
pystray~=0.17.1
pywin
pywin32==228
PyYAML~=5.3.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
psutil~=5.7.2
cx_Freeze==6.1
keyboard~=0.13.5
win10toast~=0.9